# .env

# ======================
# DATABASE (SUPABASE)
# ======================
DATABASE_URL="port 6543"
DIRECT_URL="port 5432"

# ======================
# GOOGLE AUTH
# ======================
GOOGLE_CLIENT_ID=""

# WAJIB untuk frontend (INI YANG DIPAKAI DI REACT)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""

# ======================
# OPTIONAL (BIARKAN SAJA)
# ======================
GOOGLE_API_KEY=""
PINECONE_API_KEY=""
PINECONE_INDEX=""
PINECONE_INDEX_V2=""
LLAMAPARSE_API_KEY=""
VOYAGEAI_API_KEY=""

# ======================
# Midtrans
# MIDTRANS SANDBOX KEYS
# ======================
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=""